* {
    padding: 0;
    margin: 0;
  }
 
  body {
    font-family: sans-serif;
  }
 
  a,
  a:visited {
    outline: none;
  }
 
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
 
  .header {
    text-align: center;
  }
 
  .nav {
    margin: 20px auto;
    max-width: 48em;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
    text-align: center;
  }
 
  .menu {
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background .15s ease-in;
  }
 
  .menu:hover {
    background: #ddd;
  }
 
  .Merah.is-active {
    background: red;
  }
  .Kuning.is-active {
    background: yellow;
  }
  .Hijau.is-active {
    background: green;
  }
  .Biru.is-active {
    background: aqua;
  }
  .Grey.is-active {
    background: grey;
  }
  .Ungu.is-active {
    background: purple;
  }
  
  .Merah.selected {
    background: red;
  }
  .Kuning.selected {
    background: yellow;
  }
  .Hijau.selected {
    background: green;
  }
  .Biru.selected {
    background: aqua;
  }
  .Grey.selected {
    background: grey;
  }
  .Ungu.selected {
    background: purple;
  }
 
  .info {
    margin-top: 40px;
    text-align: center;
  }
 
  .selected {
    margin-left: 5px;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;
    background: #ddd;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
  }